{% load django_tables2 %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>search</title>
	<style type="text/css">
		body, div {
			padding: 0;
			margin: 0;
		}
		#container {
			width: 1070px;
			margin: 0 auto;
		}
		.wrap {
			width: 360px;
			height: 48px;
			margin: 0 auto;
		}
		.wrap form input {
			width: 240px;
			height: 24px;
			margin-top: 12px;
		}
	</style>
	<meta charset="UTF-8">
	<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.14.min.js"></script>
	<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.14.min.css">
	<link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{% static 'django_tables2/bootstrap.css' %}" rel="stylesheet" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css">
	{{ script1 | safe }}
	{{ script2 | safe}}
</head>


<body>
	<div id="container">
		<div class="center">
			<br />
			<form action="." class="crawl" method="GET">
				<input type="text" name="q" value="{{query|escape}}">
				<button type="submit">
					search
				</button>
			</form>
			{% if results %}
				<h2>{{ results }}</h2>
				<h3> The total number of webpages of {{results}} is {{total_number}} </h3>
				<br />
			{% endif %}
		</div>
		<div class="center">
			{{ div1 | safe }}
		</div>
		<br />
		<br />
		<br />
		<br />
		<br />
		<div class="center">
			{{ div2 | safe }}
		</div>
		<br />
		<br />
		<br />
		<br />
		<br />
		<div class="ui container">
			{% if table %}
				{% render_table table %}
			{% endif %}
		</div>
	</div>  
</body>
</html>